<h3>Comments</h3>
<% @post.comments.each do |comment| %>
<div class="card mb-4">
  <div class="card-body">
    <h4 class="card-title"><%= comment.username %></h4>
    <p class="card-text"><%= comment.body %></p>
    <%= button_to "[X]", [comment.post, comment], method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-danger' %>
  </div>
</div>
<% end %>